{% extends "bootstrap/base.html" %}
<!--Bloque para poner el título a la página-->
{%block title%}{%endblock%}

{%block styles%}
{{super()}}
<!--Acuérdate de ponerla o se borrarán las hojas de stilo
propias de flask_bootstrap-->
<link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
<!--Aqui esta el link para nuestra propia hoja de estilos css-->
{%endblock%}

{%block body%}

{%block header%}
<h1>Tutorial de Flask</h1>
<hr>
{%endblock%}

<p>Barra de navegación insertada</p>
<!--Aquí ira la barra de navegación importada desde el archivo nav.html-->
{%include 'nav.html'%}

<section>
    {%block content%}{%endblock%}
</section>

<footer>
    <hr>
    <small>Este es el pie de página</small>
</footer>

{%endblock%}