{% extends "base.html" %}

{% block title %} Calculadora Método POST {% endblock %}

{% block content %}
   
    <h2> Calculadora </h2>
    
    <!-- Construimos el formulario -->
    <form action="{{url_for('calculadora_post')}}" method="POST" novalidate>
       
        <!-- Para definir el formulario usando un bucle for
        {% for field in form %}
        {{field.label() }}{{field()}}<br/>
        {% endfor %}
        -->
                
        <fieldset>
        {{form.csrf_token}}
     
        
        {{form.primer_numero.label}}{{form.primer_numero(placeholder="Introduce un numero ej. 56")}}<br />
        <!-- Podriamos definir los campos de error individualmente
        {% for error in form.primer_numero.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %} -->
        {{form.segundo_numero.label}}{{form.segundo_numero(autocomplete="off")}}<br />
        {{form.operacion.label}}{{form.operacion}}<br />
        <!-- Campo de prueba programado en html -->
        <label for="prueba">Campo de Prueba    
        </label>
        <input type="color" name="color" id="prueba" />
                
        {{form.enviar}}<br />
        <p><strong>Resultado</strong>  = {{resultado}}</p>
        
        <!-- Para ver los errores en la validación de los formularios a nivel global
        , para todos los campos-->
        {% for field, errors in form.errors.items() %}
        <!-- Usamos ",".join(errors) para trasformar la lista en texto
         y que no salgan los corchetes por pantalla -->
            {{ form[field].label }}: {{",".join(errors)}}<br />
        {% endfor %}
        </fieldset>
        </form>
        
        <!-- Otros tipos de campos -->
       <fieldset>
        {{form.texto.label}}{{form.texto}}<br />
        {{form.boleano.label}}{{form.boleano}}<br />
        {{form.fecha.label}}{{form.fecha}} <br />
        
        <!-- Selector de casillas pero les quitamos el punto antes del marcador -->
        {{form.casillas.label}}{{form.casillas(style="list-style: None;")}}<br />
        
        {{form.campo_password.label}}{{form.campo_password}}<br />
        {{form.campo_textareafield.label}}{{form.campo_textareafield}}
        </fieldset>
 
        
{% endblock %}


