main {
    column-count: 2;
    column-gap: 3em;
    column-rule: 1px solid #bbb;
}

h2 {
    background-color: hotpink;
}
/* Column-span expande el titulo "Calculadora" para que use las 2 columnas. */


