{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

<!--super es para no sobreescribir los estilos propios de bootstrap y si 
quieres usar un css propio-->
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='mystyle.css')}}">
{% endblock %}

{% block content %}
<div class="container" style="width:27%">
  <div class="row">
    <form class="form-signin" method="POST" action="{{url_for('auth.login')}}">
      <h2 class="form-signin-heading">Iniciar Sesión</h2>
      <br />
      {{ form.csrf_token}}
      {{ wtf.form_field(form.nombre_usuario) }}
      {{ wtf.form_field(form.contrasena) }}
      {{ wtf.form_field(form.recuerdame) }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    {% include "flash.html" %}
    <br />
    <div>¿No tienes cuenta? <a href="{{ url_for('auth.signup') }}">Regístrate</a></div>
    <br />
    <a href="{{url_for('public.home')}}">Volver</a>
  </div>
</div> <!-- /container -->


{% endblock %}